html,
body,
#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --c-grey-100: #f8f9fa;
  --c-grey-200: #687481;

  --c-blue-100: #0645ad;
  --c-blue-200: #0b0080;

  --c-red-100: #ffebeb;
  --c-red-200: #ffa7a7;
  --c-red-300: #fa7979;
}

@media (prefers-color-scheme: dark) {
  html,
  /* something causes option on Windows to stay white, even with `inherit` */
  option {
    color: var(--c-grey-100);
    background-color: var(--c-grey-200);
  }
}

h1 {
  font-family: 'Linux Libertine', Georgia, Times, serif;
}

body {
  max-width: 40em;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  line-height: 1.4;
}

@media (min-width: 430px) {
  select.language {
    min-width: 20em;
  }
}

input,
button,
select,
textarea {
  width: 100%;
  border-radius: 0.2em;
  border: 1px solid var(--c-grey-200);
  padding: 0.5em;
  background: white;
}

button,
.box-list a {
  border-radius: 0.2em;
  border: 1px solid var(--c-grey-200);
  background: white;
  color: inherit !important;
  padding: 1em;
  margin: auto;
  cursor: pointer;
  display: block;
}

button:hover,
.box-list a {
  background: var(--c-grey-100);
}

@media (prefers-color-scheme: dark) {
  button:hover,
  .box-list a {
    background: var(--c-grey-200);
  }
}

.danger {
  background: var(--c-red-100);
}

.danger:hover {
  background: var(--c-red-200);
}

@media (prefers-color-scheme: dark) {
  .danger {
    background: var(--c-red-200);
  }

  .danger:hover {
    background: var(--c-red-300);
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.full-size {
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

@supports (-webkit-touch-callout: none) {
  .full-size {
    height: -webkit-fill-available;
  }
}

.child-spacing > * {
  margin: 1em 0;
}

.box-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box-list button,
.box-list a {
  width: 100%;
}

.box-list.vertical {
  flex-direction: column;
}

.scores-list {
  list-style-type: none;
  padding: 0;
}

.box-list > * {
  padding: 1em;
}

.done-reading {
  width: 100%;
  font-size: 2em;
  border: none;
  border-top: 1px solid;
  border-radius: 0;
  border-bottom: none;
}

a {
  text-decoration: none;
  color: var(--c-blue-100);
  background: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

a:visited {
  color: var(--c-blue-200);
}

@media (prefers-color-scheme: dark) {
  a,
  a:visited {
    color: inherit;
    text-decoration: underline;
  }
}

.full-center {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.full-center-child {
  margin-top: 0;
  margin-bottom: auto;
}

.player-indicator {
  list-style-type: none;
  display: flex;

  margin-top: 0;
  margin-bottom: auto;
}

.player-indicator .active {
  background: var(--c-grey-200);
}

.player-indicator li {
  border: 1px solid var(--c-grey-200);
  padding: 0.3em;
  margin: 0.2em;
  border-radius: 0.2em;
}
