@media (max-height: 800px) {
  .intro {
    height: unset;
  }
}

.intro-form {
  box-shadow: 0 0 0.3em #999;
  border-radius: 0.2em;
  padding: 1.2em;
  margin-bottom: 1.6em;
  text-align: left;
  max-width: 100%;
}

.intro-form label {
  display: flex;
  flex-direction: column;
}

.intro-form label span {
  font-variant: small-caps;
  letter-spacing: 0.01em;
}

.intro-form input[type='text'],
.intro-form button,
.intro-form select {
  width: 100%;
  border-radius: 0.2em;
  border: 1px solid var(--c-grey-200);
  padding: 0.5em;
}

.intro-form input[type='text'] {
  box-shadow: inset 0 0 0 1px transparent;
}

.intro-form button {
  background-color: var(--c-grey-100);
  font-size: 0.8em;
  font-weight: bold;
  margin: 0;
  text-align: center;
}
