body {
  line-height: 1.4;
  max-width: 40em;
  margin: 0 auto;
  padding: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --c-grey-100: #f8f9fa;
  --c-grey-200: #a2a9b1;
  --c-grey-900: #1f2429;

  --c-blue-100: #0645ad;
  --c-blue-200: #0b0080;

  --c-red-100: #ffebeb;
  --c-red-200: #ffa7a7;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--c-grey-100);
  }
}

.mw-editsection,
.hide-when-compact,
.ambox {
  display: none;
}

.infobox {
  border: 1px solid var(--c-grey-200);
  background-color: var(--c-grey-100);
  margin: 0.5em 0 0.5em 1em;
  padding: 0.2em;
  float: right;
  clear: right;
  line-height: 1.5em;
  max-width: 22em;
  width: inherit;
}

@media (prefers-color-scheme: dark) {
  .infobox {
    background-color: inherit;
  }
}

@media (max-width: 440px) {
  .infobox {
    margin: 0;
    float: none;
  }
}

img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
}

hr {
  height: 1px;
  background-color: var(--c-grey-200);
  border: 0;
  margin: 0.2em 0;
}

.siteSub {
  margin-top: -1em;
  font-size: 92%;
  margin-bottom: 1.2em;
}

h1,
h2 {
  border-bottom: 1px solid var(--c-grey-200);
  font-weight: normal;
  font-family: 'Linux Libertine', Georgia, Times, serif;
}

h3,
h4,
h5,
h6 {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--c-blue-100);
  background: none;
  word-break: break-all;
}

a:hover,
a:focus {
  text-decoration: underline;
}

a:visited {
  color: var(--c-blue-200);
}

@media (prefers-color-scheme: dark) {
  a,
  a:visited {
    color: inherit;
    text-decoration: underline;
  }
}

.tright {
  clear: right;
  float: right;
}

.gallery {
  list-style-type: none;
  padding: 0;
}

.gallerybox,
.gallery li {
  display: inline-block;
}

.thumb {
  background-color: var(--c-grey-100);
  border: 1px solid var(--c-grey-200);
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  .thumb {
    background-color: inherit;
  }
}

.thumbinner {
  padding: 3px;
  font-size: 94%;
}
